<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title>Lista de Convidados</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width"/>
        <link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" />
        <link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css}" rel="stylesheet" />
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Gestao Festa</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"> <a th:href='@{/}'>Home</a> </li>
                    <li> <a th:href='@{/localizacao}'>Localizacao</a> </li>
                    <li> <a th:href='@{/convidados}'>Convidados</a> </li>
                    <li> <a th:href='@{/festas}'>Festas</a> </li>
                </ul>
            </div>
	</nav>
	<section layout:fragment="conteudo">
	</section>
    </body>
</html>
